{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react/prop-types": 0
  },
  "env": {
    "browser": true,
    "react-native/react-native": true
  }
}
